.body {
  background-color: bisque;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1,
h2 {
  text-align: center;
}

small {
  text-align: center;
}

img {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
